@font-face {
  font-family: Bebas;
  src: url("../../public/bebas2.woff2");
}
@font-face {
  font-family: Negra;
  src: url("../../public/negra.woff2");
}
@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
%negra {
  font-family: Negra;
  text-transform: uppercase;
}
%bebas {
  font-family: Bebas;
  text-transform: uppercase;
}
%assistant {
  font-family: "Assistant", sans-serif;
}
