@font-face {
  font-family: Bebas;
  src: url("../../public/fonts/bebas2.woff2");
}
@font-face {
  font-family: Negra;
  src: url("../../public/fonts/negra.woff2");
}
@font-face {
  font-family: HkGrotesk;
  src: url("../../public/fonts/HKGrotesk-Light.woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
%negra {
  font-family: Negra;
  text-transform: uppercase;
}
%bebas {
  font-family: Bebas;
  text-transform: uppercase;
}
%assistant {
  font-family: "Assistant", sans-serif;
}
%mansalva {
  font-family: "Mansalva", cursive;
}
%grotesk {
  font-family: HkGrotesk;
}
