@import "./partials/fonts";
@import "./partials/mediaquery";
@import "./partials/variables";
.container {
  scroll-snap-align: start;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  .span {
    @extend %bebas;
    font-size: 28vw;
    @include xs {
      font-size: 40vw;
    }
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0.8;
    span {
      @extend %negra;
      font-size: 3vw;
      @include xs {
        font-size: 8vw;
      }
    }
  }
  .img {
    margin-top: 0.6rem;
    width: 20vw;
    height: calc(20vw / 10.2996);
    @include xs {
      width: 45vw;
      height: calc(45vw / 10.2996);
    }
  }
}
