@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
	font-family: Bukhari;
	src: url('./BukhariScript-Regular.ttf');
}

.bukhari {
	font-family: Bukhari, serif;
}
