@import "./partials/fonts";
@import "./partials/mediaquery";
@import "./partials/variables";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $name-color;
  padding: 3rem;
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
  }
  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    .line {
      height: 6px;
      width: 70px;
      background: white;
      align-self: flex-end;
    }
    img {
      border-radius: 10px;
      box-shadow: 0 0px 2.2px -10px rgba(0, 0, 0, 0.022), 0 0px 5.3px -10px rgba(0, 0, 0, 0.032),
        0 0px 10px -10px rgba(0, 0, 0, 0.04), 0 0px 17.9px -10px rgba(0, 0, 0, 0.048),
        0 0px 33.4px -10px rgba(0, 0, 0, 0.058), 0 0px 80px -10px rgba(0, 0, 0, 0.08);

      width: 100%;
    }
  }
}
