@import "./partials/fonts";
@import "./partials/mediaquery";
@import "./partials/variables";
.container {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $bg-dark;
  padding: 2rem 2rem;
  @include sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .line {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: flex-start;
    height: 7px;
    width: 70px;
    background-color: white;
    transform: translate(100%, 500%);
    @include sm {
      display: none;
    }
  }

  .text {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include sm {
      margin-top: 3rem;
      justify-content: flex-start;
    }
    span {
      @extend %mansalva;
      color: white;
      font-size: 2vw;
      text-align: center;
      padding: 0.5rem;
      .inner {
        background-image: url("../public/7th-circle.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
      }
      @include sm {
        font-size: 5vw;
      }
      @include xs {
        font-size: 6vw;
      }
    }
    p {
      @extend %grotesk;
      color: white;
      text-align: center;
      font-size: 1.3vw;
      width: clamp(45ch, 50%, 75ch);
      @include sm {
        font-size: 4vw;
      }
      @include xs {
        font-size: 5vw;
        width: clamp(30ch, 50%, 75ch);
      }
    }
  }
  .video {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    .ratio {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
