@import "./partials/_mediaquery.scss";
@import "./partials/_variables.scss";
@import "./partials/fonts";
.container {
  overflow: scroll;
  background-color: $bg-dark;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include xs {
    grid-template-columns: 1fr;
  }
  .line {
    @include xs {
      display: none;
    }
    align-self: flex-end;
    margin: 6rem 3rem;
    background-color: white;
    height: 6rem;
    width: 0.5rem;
  }
  .picture {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include xs {
      align-self: center;
      padding: 2rem;
      padding-bottom: 0rem;
    }
    img {
      border-radius: 10px;
      @include xs {
        height: 30vh;
        width: 100vw;
        object-fit: cover;
      }
    }
  }
  .info {
    @include xs {
      align-self: flex-start;
      grid-column-start: 1;
      padding: 0rem 0rem;
      align-items: center;
    }
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem 3rem;
    @include sm {
      padding-left: 1rem;
    }

    span:nth-child(1) {
      @extend %bebas;
      color: $name-color;
      font-size: 3vw;
      line-height: 0.9;
      margin-bottom: 5.5vh;
      @include sm {
        font-size: 6vw;
        margin-bottom: 0.5rem;
      }
      @include xs {
        font-size: 10vw;
        margin-bottom: 0.5rem;
      }
      br {
        @include xs {
          display: none;
        }
        display: flex;
      }
    }
    span:nth-child(2) {
      @extend %assistant;
      color: white;
      font-size: 1.66vw;
      margin-bottom: 2vh;
      @include sm {
        font-size: 3vw;
        margin-bottom: 0.5rem;
      }
      @include xs {
        font-size: 5vw;
        margin-bottom: 0.5rem;
      }
    }
    span:nth-child(3) {
      color: $name-color;
      font-size: 1.45vw;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0.5rem;
      @include sm {
        font-size: 3vw;
        margin-bottom: 0.5rem;
      }
      @include xs {
        font-size: 8vw;
        margin-bottom: 0.5rem;
      }
    }
    p {
      @extend %assistant;
      margin: 0px;
      color: white;
      font-size: 1.45vw;
      font-weight: normal;
      width: clamp(30ch, 60%, 75ch);
      @include sm {
        font-size: 3vw;
      }
      @include xs {
        font-size: 4vw;
      }
    }
  }
}
