@import "./partials/_mediaquery.scss";
@import "./partials/_fonts.scss";
@import "./partials/_variables.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  height: 100vh;
  --tx: -35%;
  --ty: -85%;
  --showreel: 3.5vw;
  --div-width: 10vw;
  --year: 2vw;
  @include xs {
    --tx: 0%;
    --ty: 0%;
    --showreel: 10vw;
    --div-width: 35vw;
    --year: 8vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 12vw;
  }
  .name {
    display: flex;
    font-family: $name;
    font-size: 15vw;
    line-height: 80%;
    color: $name-color;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .graphic {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-column-start: 1;
    line-height: 0.8;
    z-index: 1;
    transform: translate(var(--tx), var(--ty));
    span {
      @extend %negra;
      display: flex;
      font-size: max(var(--showreel), 3.5vw);
    }
    div {
      display: flex;
      flex-direction: column;
      width: max(var(--div-width), 10vw);
      img {
        width: max(var(--div-width), 10vw);
      }
      span {
        @extend %negra;
        display: flex;
        margin-left: auto;
        font-size: max(var(--year), 2vw);
      }
    }
  }
}
