@import "./partials/fonts";
@import "./partials/mediaquery";
@import "./partials/variables";
.container {
  background: white;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
  @include sm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 11.5rem;
    height: 100%;
    width: 100%;
    @include sm {
      padding: 0rem 5%;
    }
    .img_top {
      width: 12vw;
      height: calc(12vw / 6.52);
      transform: translate(-30%, 50%) rotate(-22deg);
      z-index: 2;
    }
    .ratio {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .img_bottom {
      align-self: flex-end;
      width: 12vw;
      height: calc(12vw / 6.52);
      transform: translate(30%, -50%) rotate(-22deg);
      z-index: 2;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0rem 3rem 5rem 1rem;
    @include sm {
      padding: 0rem 10%;
      justify-content: flex-start;
    }
    .line {
      align-self: flex-end;
      height: 7px;
      width: 70px;
      background-color: black;
      @include sm {
        display: none;
      }
    }
    span {
      @extend %mansalva;
      font-size: 3vw;
      line-height: 0.9;
      margin-top: 8rem;
      text-align: center;
      @include sm {
        margin: 0rem;
        font-size: 6vw;
      }
      @include xs {
        margin: 0rem;
        font-size: 10vw;
      }
    }
    p {
      @extend %grotesk;
      text-align: center;
      font-size: 1.3vw;
      width: clamp(30ch, 60%, 75ch);
      line-height: 0.9;
      @include sm {
        font-size: 4vw;
      }
      @include xs {
        font-size: 5vw;
        width: clamp(35ch, 50%, 75ch);
      }
    }
  }
}
